<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css"> 
    <title>Insure Scan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container">
        <div class="section1">
        <div class="nav">
            <div class="nleft">
                <img src="ins.png" alt="">
            </div>
            <div class="nright">
                <div class="options">
                    <button class="click">HOME</button>
                    <button class="click2">ABOUT</button>
                    <button class="click3">REVIEW</button>
                    <button class="click4">CONTACT</button>
                    <a href="/login"><button class="clicK1">LOGIN</button></a>
                </div>
            </div>
        </div>
        <div class="bodypart">
            <h2>Real-Time Damage Assessment Tool</h2>
            <h3>Accelerating Insurance Claim Settlements</h3>
            <button href="login.html">
                GET STARTED
            </button>
        </div>
    </div>
    <div class="section2">
        <div id="about">
            <h2>ABOUT</h2>
            <div class="section2_1">
                <div>
                    <img src="pic2.png">
                </div>
                <div class="part2">
                    <p align="justify">Our image-based damage assessment tool is a game-changer for insurance claims. By leveraging advanced image recognition technology, we expedite the claim process by swiftly categorizing and assessing damages caused by accidents or natural disasters. This innovation seamlessly integrates into existing insurance systems, providing immediate and accurate assessments that enhance customer satisfaction and streamline claim settlements. Say goodbye to lengthy claim processes and hello to efficient resolutions with our revolutionary tool</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section3">
        
    </div>
</body>
</html>